<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gulp-Framework</title>
    <!-- inject:css -->
    <!--<link rel="stylesheet" href="../../assets/css/swiper.css">
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/style.css">-->
    <!-- endinject -->
</head>
<body>
<div class="home-page">
    <h1>test</h1>
    <div class="center menu">
        <a href="../news/index.html">news</a>
        <a href="../photos/index.html">photos</a>
        <a href="../details/index.html">details</a>
    </div>
    <div class="device">
        <a class="arrow-left" href="#"></a>
        <a class="arrow-right" href="#"></a>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../assets/img/9.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../assets/img/11.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../../assets/img/12.jpg" alt=""></div>
            </div>
        </div>
        <div class="pagination"></div>
    </div>
</div>
<script src="../../assets/js/lib/require-2.1.16.js"></script>
<!-- inject:js -->
<script src="../../assets/js/module/app.js"></script>
<!-- endinject -->
</body>
</html>
