<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gulp-Framework</title>
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/home.css">
</head>
<body>
<div class="home-page">
    <h1>test</h1>
    <p><img src="../../assets/img/zy_wx.gif"></p>
    <p><a href="../news/">新闻中心</a></p>
</div>
<script src="../../assets/js/lib/jquery-1.11.3.js"></script>
<script src="../../assets/js/app.js"></script>
</body>
</html>