<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
  <div class="app-container">
    <el-card>
      <el-form :model="queryData" :rules="rules" ref="ruleForm" label-width="150px" class="demo-dynamic">
        <el-form-item>
          <el-checkbox-group v-model="checkedLanguage" @change="handleCheckedChange" :min="1">
            <el-checkbox v-for="(item,index) in language" :label="item" :key="index" border >{{item.desc}}</el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="邮件内容：">
            <el-tabs v-model="activeName" v-for="(item,index) in queryData.mulLanguages" >
                <el-tab-pane  :label="item.desc" :name="item.desc" :key="index"></el-tab-pane>
            </el-tabs>
        </el-form-item>
      </el-form>
    </el-card>

  </div>
</div>
<script>
    var app = new Vue({
         el: '#app',
         data () {
         return {
              rules: {},
              queryData: {mulLanguages: []       },
              checkAll: true,
              checkedLanguage: [],
              language: [
                  {languageId: 1, desc: '中文', title: '', content: ''},
                  {languageId: 2, desc: '英文', title: '', content: ''},
                  {languageId: 3, desc: '英1文', title: '', content: ''}
              ],
              isIndeterminate: false,
              activeName: '中文',
         }
  },
  created () {
      this.checkedLanguage = this.language
      this.queryData.mulLanguages = this.language
  },
  methods: {
       //  语种选择
    handleCheckedChange (value) {
      //let checkedCount = value.length
       // this.checkAll = checkedCount === this.language.length
       // this.isIndeterminate = checkedCount > 0 && checkedCount < this.language.length
       this.checkedLanguage = value
       this.queryData.mulLanguages = value
       this.activeName =this.checkedLanguage[0].desc
    },

  },

})
</script>


</body>
</html>
